{% extends "base.html" %}

{% block subtitle %}About{% endblock %}

{% block content %}

<p>Mark Fowler is a very busy man.  He doesn't even have time to write a blurb about himself here!</p>

<h2>Contacting Me</h2>

<p>I can be reached via email.  The magic address is mark @ the domain this page is hosted on (without the "www.", obviously.)</p>

<p>Unfortuantly, due to the level of spam I get, unless I've previously whitelisted your email address, it may be several days until I gets round to checking the place where your email ends up, and even then I might ignore it if you put something particularly spammy in the email message;  Do try to act like a human being ;-)</p>

<h3>IRC</h3>

<p>I'm "trelane" on "irc.perl.org" where I tend to hang out in #london.pm.  I'm <i>not</i> "trelane" on "efnet".  Please note that I use dircproxy to remain permanently connected to irc even when I'm not at my computer so if I'm not actually responding to something you say, it's not that I don't like you, it's just that I'm not actually paying attention at that time.</p>

<h3>Instant Messenger</h3>

I'm regularly logged onto several IM networks:

<dl>
  <dt>AIM</dt>
  <dd>trelane2sp</dt>
  <dt>Skype</dt>
  <dd>trelane2sp</dd>
  <dt>Jabber / GTalk</dd>
  <dd>2shortplanks@gmail.com</dd>
</dl>

<p>I also have a work MSN account which I won't let you subscribe to unless you work with me.  It's firstname.lastname @ company .co.uk.</p>



{% endblock %}
