{% extends "base.html" %}

{% block subtitle %}About{% endblock %}

{% block content %}

Mark Fowler is a very busy man.  He doesn't even have time to write a blurb about himself here!

<h2>Contacting Mark</h2>

<p>I can be reached via email.  The magic address is mark @ the domain this page is hosted on (without the "www", obviously)</p>

<p>Unfortuantly, due to the level of spam I get, unless I've previously whitelisted your email address, it may be several days until he gets round to checking his email, and even then he might ignore it if you put something particularly spammy in the email message;  Do try to act like a human being ;-)</p>

{% endblock %}
