{% extends "base.html" %}

{% block subtitle %}Homepage{% endblock %}

{% block content %}
<p>One day, when I have too much free time, I will replace this with something
better.  But for today, I'm just going to put links in to me elsewhere on the web</p>

<ul>
  <li><a href="http://twitter.com/2shortplanks" rel="me">Twitter</a></li>
  <li><a href="http://search.cpan.org/~MARKF/" rel="me">CPAN</a></li>
  <li><a href="http://www.flickr.com/photos/twoshortplanks/" rel="me">Flickr</a></li>
  <li><a href="http://www.facebook.com/profile.php?id=618137844" rel="me">Facebook</a></li>
  <li><a href="http://www.dopplr.com/traveller/2shortplanks" rel="me">Dopplr</a></li>
  <li><a href="http://www.linkedin.com/in/mfowler" rel="me">LinkedIn</a></li>
  <li><a href="http://osx.iusethis.com/user/2shortplanks" rel="me">iusethis Mac OS X</a> and <a href="http://iphone.iusethis.com/user/2shortplanks" rel="me">iusethis iPhone</a></li>
  <li><a href="http://www.photobox.co.uk/">My Employer</a></li>
</ul>
{% endblock %}
 